


/*----------- BODY --------------*/



/*----------- HEADER --------------*/
header {
    margin-bottom: 4rem;
}


/*----------- NAVIGATION --------------*/
nav ul {
    width: 200px;
}


/*----------- MAIN --------------*/

.member {
    flex-basis: 48%;
}

/*----------- FOOTER --------------*/
    
